{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <form action="" method="POST" name="login_form">
        <input  class="form-control" name="username" id="username" placeholder="Username" type="text" >
        <p></p>
        <input class="form-control" name="password" id="password" placeholder="Password" type="password" >
        <p></p>
        <input type="button" class="form-control" value="Login" onclick="return check_log ()">

    </form>
    

{% endblock %}
