{% extends "layout.html" %}

{% block title %}
    Revenue
{% endblock %}

{% block main %}

<form action="" method="POST" name="forma_re">
<div id="newsrc">   
<select style="width:250px;" class="form-control" name="source" id="source"  onChange='return StatusSelectRev();'>
    			<option value="" class="disabled">Choose source of revenue</option>
    			<option value="Salary">Salary</option>
    			<option value="Bank interest">Bank interest</option>
    			<option value="Other">Other</option>
    			<option value="newsourse">Enter new sourse</option>
</select>
</div>
<p>
<p ><input style="width:250px;" class="form-control" name="cash_received" id="cash_received" placeholder="Sum (0,00)" type="number" step=0.01 min="0" ></p>
<p> <input style="width:250px;" class="form-control" name="comments" id="comments" placeholder="Comment" type="text"></p>
<input type="button" class="form-control" value="Fix revenue" onclick="return check_rev ()">
</form>





{% endblock %}